#primary_nav_wrap {
    margin-right: 2em;
}

#primary_nav_wrap ul {
    display: inline-flex;
    justify-content: space-around;
    list-style: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    background-color: lightblue;
    width: 100%;
}

#primary_nav_wrap ul a {
    display: block;
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: .75em;
    line-height: 2em;
    padding: 0 .94em;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: lightblue;
}

#primary_nav_wrap ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

#primary_nav_wrap ul li.current-menu-item {
    background-color: aliceblue;
}

#primary_nav_wrap ul li:hover {}

#primary_nav_wrap ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: lightblue;
    padding: 0;
}

#primary_nav_wrap ul ul li {
    float: none;
    width: 12.5em;
}

#primary_nav_wrap ul ul a {
    line-height: 120%;
    padding: .625em .94em;
}

#primary_nav_wrap ul ul ul {
    top: 0;
    left: 100%;
}

#primary_nav_wrap ul li:hover>ul {
    display: block;
}


/* Navigation Menu Ended*/


/* Body Creation */

body {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: lightblue;

}


/* Footer Creation */

footer ul {
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
}

footer ul li {
    list-style-type: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    flex: 1 0 auto;
    width: 40%;
}


/* Footer Completion


/* Begin with normal web styles */


.Title {
    display: block;
    align-content: center;
    font-size: 2em;
}



#gen {
    outline: none;
    padding-top: 5px;
    text-decoration: none;
    opacity: 0.6;
    background-color: black;
    color: white;
    border: thin solid white;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    transition: 0.5s;
}

#gen:hover {
    background-color: white;
    color: black;
    border: thin solid black;
    opacity: 0.8;
}

#gen a {
    text-decoration: none;
}



/* Stuff for the quote div */

h1 {
    text-align: center;
    font-family: "Baskerville Old Face";
}
.Quote-container, .button-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}
.Quote-container {
    padding: 20px;
    border-radius: 10px;
    background-color: #EFEFEF;
}
.Quote-div {
    font-family: "Goudy Old Style";
    line-height: 2em;
    font-size: 1.4em;
}
.Author-div {
    display: inline-block;
    font-size: 1.3em;
    margin: 20px 0;
    font-weight: bold;
}
iframe, .btn-generate-quote {
    margin: 20px 10px;
    vertical-align: top;
}





/* @Media Rules */
